* {
    font-family: "Noto Sans KR", sans-serif;
    color: var(--white-font);
    list-style: none;
}

ul {
    padding-left: 0;
}

body {
    background-color: var(--black-background);
}

option {
    color: black;
}

.btn {
    font-weight: 500;
}

:root {
    /* logo colors */
    --main-left-color : #119FA4;
    --main-right-color : #205F9B;
    --gray-left-color : #828282;
    --gray-right-color : #3C3C3C;
    --white-left-color : #FFFFFF;
    --white-right-color : #E9E9E9;

    /* background colors */
    --white-background : #FFFFFF;
    --white-primary-background : #ededed;
    --white-secondary-background : #cccccc;
    --black-background : #101010;
    --black-primary-background : #191919;
    --black-secondary-background : #2c2c2c;
    --black-finaly-background : #373737;
    --black-current-background : #504104;
    --black-current-finaly-background : #322700;
    --black-target-background : #02424a;
    --black-target-finaly-background : #002429;
    --black-new-background : #035532;
    --black-new-finaly-background : #02351f;

    /* font colors */
    --white-font : #FFFFFF;
    --white-30-font : #535353;
    --black-font : #101010;

    /* button colors */
    --black-button-basic: #101010;
    --black-button-hover: #232323;
    --black-button-hover-over: #373737;
    --black-button-active: #0362bc;
    --black-button-active-hover: #0b467e;
    --black-secondary-button-active: #787878;
    --black-secondary-button-activ-hover: #4e4e4e;

    /* state colors */
    --state-none : #373737;
    --state-empty : #606060;
    --state-full : #973f09;
    --state-income : #975e09;
    --state-waiting : #03882c;
    --state-progress : #099797;
    --state-start : #097197;
    --state-working : #0f5bb3;
    --state-moving : #2d0fb3;
    --state-done : #6c1cc1;
}

.total-layout {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

.header-layout {
    min-height: 55px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 5px 10px;
}

.main-layout {
    height: auto;
    width: 100%;

    background-color: var(--black-primary-background);
    border-radius: 20px;
    flex: 1;
}

.footer-layout {
    height: auto;
    width: 100%;

    display: flex;
    justify-content: center;
}

.title-box {
    width: fit-content;

    padding: 5px 20px;

    background-color: var(--black-secondary-background);
    border: 2px solid var(--white-background);
    border-radius: 40px;

    font-size: 1.3rem;
    font-weight: 600;
}

.rounded-btn {
    border-radius: 20px;
}

.loading-box {
    height: auto;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    pointer-events: none;
}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.wrapper-box {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.5);
}

.floating-loading-box {
    width: 25vw;
    height: 23vw;

    position: fixed;
    z-index: 2;
    transform: translate(0%, 0%);
    top: 10%;
    left: 48.5%;

    background-color: var(--black-secondary-background);
    border-radius: 20px;
    border: 5px solid var(--white-font);
}

.loading-img {
    scale: 1.5;
}

.loading-text {
    width: 100%;
    height: auto;

    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--white-font);

    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;

}

.img-flipped {
    transform: scaleX(-1);
}